@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenue Azure Container Apps!</h1>
    <img src="~/images/containerapps.PNG" />
    <p><a href="https://docs.microsoft.com/en-us/azure/container-apps/">En savoir plus sur Azure Container Apps</a>.</p>
</div>
